<div [ngClass]="{'dropup': dropdownDirection === 'up'}">
<div (outsideClick)="closeDropdown()" class="btn-group bootstrap-select btn-block" [ngClass]="{'open': open}">

  <button (click)="toggleOpen()"
          type="button"
          class="btn dropdown-toggle btn-default"
          role="button"
          aria-expanded="true">
    <span class="filter-option pull-left">
    <div *ngIf="selectedItem">{{ displayProp ? selectedItem[displayProp] : selectedItem}}</div>
      <div *ngIf="!selectedItem" class="text-muted">{{placeholder}}</div>
    </span>&nbsp;
    <span class="bs-caret "><span class="caret select-caret"></span></span>
  </button>


  <div class="dropdown-menu open col-xs-12" role="combobox">

    <div class="bs-searchbox" *ngIf="showSearch">
      <input type="text" class="form-control" autocomplete="off" role="textbox" aria-label="Search"
             [(ngModel)]="searchText" (keydown)="handleKey($event)">
    </div>

    <ul class="dropdown-menu inner scrollable-menu" role="listbox" aria-expanded="true">

      <ng-template [ngIf]="!displayProp">
        <li *ngFor="let item of items | search:searchText | slice:0:itemLimit"
            [ngClass]="{'active': item == selectedItem}">
          <a (click)="selectItem(item)">{{item}}</a>
        </li>
      </ng-template>

      <ng-template [ngIf]="displayProp">
        <li *ngFor="let item of items | search:searchText:displayProp | slice:0:itemLimit" [ngClass]="{'active': item == selectedItem}">
          <a (click)="selectItem(item)">{{item[displayProp]}}</a>
        </li>
      </ng-template>


      <div [style.display]="showFooter() ? 'inherit': 'none'">
        <li role="separator" class="divider"></li>
        <li class="dropdown-header">Showing {{itemLimit}} of {{items.length}}</li>
        <li>
          <div class="bs-donebutton pull-right">
            <a (click)="showAll()" class="btn btn-default btn-xs">Show all</a>
          </div>
        </li>
      </div>
    </ul>
  </div>
</div>
</div>
